<!DOCTYPE html>
<html>
<head>
    <meta name="theme-color" content="#ffffff">

    <title>Morse Code</title>
    {{!-- style sheet --}}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{!-- jQuery script --}}
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    {{!-- main script --}}
    <script data-main="/script/script.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
    
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
</head>
<body>
  <div id="back"></div>
  <div id="light"></div>
  <div class="btn_container">
    <btn id="make_dot">make dot</btn>
    <btn id="make_dash">make dash</btn>
    <btn id="blink">blink seq</btn>
  </div>
</body>
</head>